@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;   
  @apply text-white;
  @apply font-nunito;
}

.tippy-box[data-theme~="blur"] {
  background-color: transparent;
  @apply backdrop-blur-sm;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply rounded-lg;
  @apply min-h-0;
}
